* {
    font-family: monospace;
}

body {
    width: 1000px;
    margin: auto;
    background-color: beige;
}

img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
}

.big {
    font-weight: bolder;
    font-size: 18px;
    color: tomato;
}

.blink {
    animation: blinker 0.7s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}